@import 'variables.scss';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-page {
    flex: 1 1 auto;
}

* {
    box-sizing: border-box;
    // border: 1px solid greenyellow;
}

.container {
    max-width: $desktopL;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}