@import '../global/variables';

.main-page {
    .container {
        margin: 0 auto;
        display: flex;
        justify-content: center;

        main {
            position: relative;
            padding: 50px 0;
            width: $desktopL;

            .main-title {
                text-align: center;
                margin-bottom: 50px;
                color: $theme;
                font-size: 50px;
                font-weight: bold;
            }

            .twit {
                margin: 0 auto;
                border: 3px solid $theme;
                border-radius: 10px;
                width: 75%;
                background-color: $theme;
                margin-bottom: $gutter;
                
                &-title, &-content {
                    padding: 15px;
                    background-color: $white;
                    border-radius: 10px;
                }

                &-title {
                    margin-bottom: 3px;
                }

                &-about {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    color: $white;

                    .user {
                        width: auto;
    
                        .name {
                            font-weight: bold;
                            font-size: 18px;
                        }
    
                        &-logo {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: $white;
                            margin-bottom: $gutterS;
    
                            img {
                                width: 35px;
                                transform: translate(20%, 25%);
                            }
                        }
                    }

                    .date {
                        font-weight: bold;
                        font-size: 18px;
                    }
                }

                &-actions {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -300%);

                    a {
                        color: $white;
                        text-decoration: none;
                        font-weight: bold;

                        &:hover {
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 425px) {
    .main-page {
        .container {
            main {
                .main-title {
                    font-size: 35px;
                }

                .twit {
                    width: 90%;

                    &-about {
                        display: block;
                        padding: 15px;
                        color: $white;

                        .user {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &-logo {
                                margin-right: $gutterS;
                            }
                        }

                        .date {
                            width: 111px;
                            margin: 0 auto;
                        }
                    }

                    &-actions {
                        position: static;
                        transform: none;
                        padding-bottom: 15px;
                        width: 40px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}